<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">

        <div class="container-fluid">
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item dropdown" style="background-color: aliceblue;">

                        <a class="nav-link dropdown-toggle" href="#" id="Sitios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sitios
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="admin">Comprar Productos</a></li>
                        </ul>

                    </li>

                    <li class="nav-item dropdown" style="background-color: aliceblue;">

                        <a class="nav-link dropdown-toggle" href="#" id="Sitios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Roles
                        </a>

                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="roles">Administrador de Roles</a></li>
                        </ul> -->

                    </li>


                    
                    <li class="nav-item dropdown" style="background-color: aliceblue;">

                        <a class="nav-link dropdown-toggle" href="#" id="Sitios" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="usuario">Administrador de Usuarios</a></li>
                        </ul>

                    </li>

                    <li class="nav-item">
                        <a href="/logout" class="btn btn-outline-light btn-lg px-5" style="background-color: #0852e6; right: 140px; width: 280px; position: fixed; background-color: hsla(240, 48%, 43%, 0.438); border-radius: 10px;">Cerrar Session</a> 
                    </li>

                
                </ul>

           
            </div>

        </div>

    </nav>



</div>
